<div>
  <div>
    <h1>
      Delivery Tracker
    </h1>
    <p>
      Know if something gets lost in the mail.
    </p>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Expecting a package?
    </h2>

    

    <form action="/insert_delivery" method="post">
      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%=current_user.id%>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="expected_box">
          Supposed to arrive on
        </label>

        <input type="date" id="expected_box" name="query_expected">
      </div>

      <div>
        <label for="detail_box">
          Details
        </label>

        <textarea id="detail_box" name="query_details" rows="3"></textarea>
      </div>

      <button>
        Log delivery
      </button>
    </form>
  </div>
</div>

<hr>

<div class="waiting_on">
  <h2>Waiting on</h2>
  <%current_user.deliveries.each do |delivery|%>
    <%if delivery.received == false %>
      <ul>
          <li>
            <div><%=delivery.description%></div>

            <div style="color: red">
              Supposed to arrive on
              <%=delivery.expected%>
            </div>

            <div>
              <%=delivery.detail%>
            </div>

            <div>
              <form action="/received/<%=delivery.id%>" method="post">
                <input type="hidden" name="query_received" value="true">   
                <button>Mark as received</button> 
              </form>
            </div>
            
            <br>
          </li>
      </ul>
    <% end %>
  <%end%>
</div>

<hr>

<div class="received">
  <h2>Received</h2>
  <%current_user.deliveries.each do |delivery|%>
    <%if delivery.received == true %>
      <ul>
          <li>
            <div><%=delivery.description%></div>

            <div>
              <small>
                Updated at <%=delivery.updated_at%>

                <a href="/delete_delivery/<%=delivery.id%>">Delete</a>
              </small>
            </div>
          </li>
      </ul>

    <% end %>
  <% end %>
</div>
